//@import url("normalize.css");

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);

    // Light-300
    // Regular - 400
    // Bold - 700
}

// === Variables ===

@Montserrat: 'Montserrat', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1166px;
    margin: 0 auto;
    
}

button:hover, a:hover {
    cursor: pointer;
}

select:active, select:focus {
    outline: none; 
}

html {
    font-family: @Montserrat;
}

body {
    max-width: 2050px;
    margin: 0 auto;
}

header {

    .topbar {
        background-color: #333333;
        height: 45px;
        display: flex;
        align-items: center;

        .container {
            display: flex;
            justify-content: space-between;
            height: 100%;
            align-items: center;

            .currency {
               // align-self: center;
                font-size: 13px;
                //font-family: "Montserrat";
                font-weight: normal;
                color: rgb(119, 119, 119);
                margin-right: 694px;

                select {
                    border: none;
                    background-color: transparent;
                    font-size: 13px;
                    //font-family: "Montserrat";
                    font-weight: normal;
                    color: rgb(119, 119, 119);


                    option {
                        border: none;
                        font-size: 13px;
                        //font-family: "Montserrat";
                        font-weight: normal;
                        color: rgb(119, 119, 119);
                        
                    }

                }
   
            }

            .register {
                margin-right: 25px;

                a {
                    font-size: 13px;
                    //font-family: "Montserrat";
                    color: rgb(153, 153, 153); 
                }     
            }

            .sign_in {
                margin-right: 82px;

                a {
                    font-size: 13px;
                    //font-family: "Montserrat";
                    color: rgb(153, 153, 153);  
                }    
            }

            .cart {

                width: 144px;
                background-color: #00c8c8;
                align-self: stretch;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .empty {
                    
                    
                    //font-family: "Montserrat";
                    ; 
                    
                    select {
                        border: none;
                        background-color: transparent;
                        font-size: 13px;
                        //font-family: "Montserrat";
                        font-weight: normal;
                        color: #fff;
    
    
                        option {
                            font-size: 13px;
                            border: none;
                            //font-family: "Montserrat";
                            font-weight: normal;
                            color: rgb(119, 119, 119);
                            
                        }
                    }
                }
            }


        }
    }
}







.glb, .glg, .glr, .gly {
  position: relative;
}

.glb {
  box-shadow: inset 0 0 0 2px blue;
  background: rgba(0, 0, 255, .1);
}

.glg {
  box-shadow: 0 0 0 2px green;
  background: rgba(0, 128, 0, .1);
}

.glr {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
  background: rgba(255, 45, 82, .1);
}

.gly {
  box-shadow: 0 0 0 2px rgb(234, 255, 45);
  background: rgba(234, 255, 45, .1);
}






