//@import url("normalize.css");

@font-face {
    font-family: 'Montserrat_Regular';
    src: url(../fonts/Montserrat/Montserrat-Regular.eot),
         url(../fonts/Montserrat/Montserrat-Regular.ttf),
         url(../fonts/Montserrat/Montserrat-Regular.woff);
}

@font-face {
    font-family: 'Montserrat_Light';
    src: url(../fonts/Montserrat/Montserrat-Light.eot),
         url(../fonts/Montserrat/Montserrat-Light.ttf),
         url(../fonts/Montserrat/Montserrat-Light.woff);
}

@font-face {
    font-family: 'Montserrat_Bold';
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.eot),
         url(../fonts/Montserrat/Montserrat-ExtraBold.ttf),
        url(../fonts/Montserrat/Montserrat-ExtraBold.woff);
}

@font-face {
    font-family: 'Roboto_Regular';
    src: url(../fonts/Roboto/Roboto-Regular.eot),
         url(../fonts/Roboto/Roboto-Regular.ttf),
         url(../fonts/Roboto/Roboto-Regular.woff);
}

// === Variables ===

@Montserrat_Regular: 'Montserrat_Refular', Arial, sans-serif;
@Montserrat_Light: 'Montserrat_Light', Arial, sans-serif;
@Montserrat_Bold: 'Montserrat_Bold', Arial, sans-serif;
@Roboto_Regular: 'Roboto_Regular', Arial, sans-serif;


// General styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1166px;
    margin: 0 auto;    
}

button:hover, a:hover {
    cursor: pointer;
}

select:active, select:focus {
    outline: none; 
}

body {
    max-width: 2050px;
    margin: 0 auto;
    font-family: @Montserrat_Regular;
}

//====== Styles for header =======

header {

    .topbar {
        background-color: #333333;
        height: 45px;
        display: flex;
        align-items: center;

        .container {
            display: flex;
            justify-content: space-between;
            height: 100%;
            align-items: center;

            .currency {
                width: 134px;
                font-size: 13px;
                color: rgb(119, 119, 119);
                margin-right: 694px;

                select {
                    border: none;
                    background-color: transparent;
                    color: rgb(119, 119, 119);

                    option {
                        border: none;
                        font-family: @Montserrat_Regular;    
                    }
                }
            }

            .register {
                margin-right: 25px;

                a {
                    font-size: 13px;
                    color: rgb(153, 153, 153); 
                }     
            }

            .sign_in {
                width: 55px;
                margin-right: 82px;

                a {
                    font-size: 13px;
                    color: rgb(153, 153, 153);  
                }    
            }

            .cart {
                width: 144px;
                background-color: #00c8c8;
                align-self: stretch;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .icon {
                    margin-left: 23px;
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    line-height: 1.8;                
                }

                .empty {
                    
                    select {
                        border: none;
                        background-color: transparent;
                        font-size: 13px;
                        font-family: @Montserrat_Regular;
                        color: #fff;

                        option {
                            font-size: 13px;
                            border: none;
                            color: rgb(119, 119, 119);    
                        }
                    }
                }
            }
        }
    }

    .header_main {
        background: url('../img/bg/slider_img_one.jpg') center center/cover no-repeat;
        margin-bottom: 62px;

        .header_top {
            max-width: 1778px;
            margin: 0 auto;
            padding-top: 38px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 228px;

            .logo {
                margin-right: 645px;

                a {
                    color: #222222; 
                    font-family: @Montserrat_Bold;
                    text-transform: uppercase; 
                    text-decoration: none;
                    font-size: 24px; 
                             
                    span {
                        color: #222222;
                        font-family: @Montserrat_Regular;
                        font-size: 24px;
                    }
                }
            }

            nav.header {

                ul.header_menu {
                    width: 585px;
                    margin-right: 115px;
                    display: flex;
                    justify-content: space-between;

                    li {
                        display: inline-block;

                        .wrap {
                            position: relative;

                            a {
                                font-size: 13px;
                                font-family: @Montserrat_Regular; 
                                color: #222222;
                                text-transform: uppercase;
                                text-decoration: none;
                                margin-bottom: 13px;
                            
                            }

                            i.fa-angle-down {
                                /*position: absolute;
                                top: 100%;
                                left: 0%;*/
                                display: block;
                            }

                            .sub_nav {
                                position: absolute;
                                top: 120%;
                                left:0%;
                                width: 467px;
                                height: 500px;
                                padding: 30px;
                                box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);
                                display: none;
                                background-color: #fff;   
                                
                                .subnav_wrapper {
                                    display: flex;
                                    height: 100%;
                                    flex-direction: column;
                                    justify-content: space-between;

                                        .subnav_text {
                                            display: flex;
                                            justify-content: space-between;
                                            //margin-bottom: 62px;
                                            flex-grow: 1;
                                            width: 100%;

                                            .subnav {
                                                width: 100%;
                                                .subnav_title {
                                                    margin-bottom: 12px;

                                                    h3 {
                                                        font-size: 12px;
                                                        font-family: @Montserrat_Regular;
                                                        color: rgb(87, 81, 83);
                                                        text-transform: uppercase;
                                                        text-align: left;
                                                    }
                                                }

                                                .subnav_links {
                                                    ul.subnav {
                                                        li {
                                                            display: block;
                                                            a {
                                                                font-size: 14px;
                                                                font-family: @Montserrat_Light;
                                                                color: rgb(114, 114, 114);
                                                                line-height: 2.143;
                                                                text-align: left;
                                                                text-transform: capitalize;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .subnav_banner {
                                            
                                            font-size: 36px;
                                            color: rgb(255, 255, 255);
                                            text-transform: uppercase;
                                            line-height: 1.333;
                                            text-align: center;
                                            background-color: rgb(51, 51, 51);
                                            padding: 62px 0;


                                            h2 {
                                                font-family: @Montserrat_Bold;
                                                font-size: 36px;
                                            }

                                            span {
                                                font-family: @Montserrat_Regular;
                                                letter-spacing: 0.1rem;
                                                font-size: 36px;
                                            }
                                        }
                                }
                            }
                        }   
                    }

                    li:hover {
                        color: #00c8c8;
                        cursor: pointer;

                            .sub_nav {
                                cursor: default;
                            }

                        a {
                            color: #00c8c8;
                        }

                        .sub_nav {
                            display: block;
                        }
                    }
                }
            }

            .search {
                position: relative;

                input.search {
                    padding: 5px;
                    padding-top: 7px;
                    font-size: 13px;
                    font-family: @Montserrat_Light; 
                    color: rgb(152, 152, 152);
                    text-align: left;
                    border: 1 px solid #e7e7e7;
                    outline: none;
                }

                i.fa-search {
                    position: absolute;
                    top: 50%;
                    right: 9px;
                    transform: translate(0,-50%);
                    font-size: 14px;
                    color: rgb(152, 152, 152);
                    cursor: pointer;
                }
            }
        }

        .slider {
            padding-bottom: 122px;
            
            h1.slider_text {
                font-size: 450px;
                color: rgb(87, 81, 83);
                font-family: @Montserrat_Bold;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 6.5rem;
                margin-bottom: 123px;    
            }

            button.header {
                margin-left: 1388px;
                line-height: 1rem;
                border-style: solid;
                border-width: 2px;
                border-color: rgb(115, 115, 115);
                background-color: rgba(115, 115, 115, 0);
                width: 342px;
                height: 59px;
                font-size: 16px;
                font-family: @Montserrat_Regular;
                color: rgb(69, 70, 71);
                text-transform: uppercase;
                text-align: center;
                outline: none;    
            }

            button:hover {
                background-color: #00c8c8;
                color: rgb(248, 248, 248);  
                border: none;    
            }
        }
    }
}

// ==== Styles for section "items" ====

section.items {
    margin-bottom: 62px;

    .container {
        width: 1770px;
        border-top: 1px solid rgb(238, 238, 238);
        border-bottom: 1px solid rgb(238, 238, 238);
        padding-top: 55px;
        padding-bottom: 62px;
           
        .items_menu {
            margin-bottom: 62px;

            nav.items {

                ul.items {
                    width: 692px;
                    display: flex;
                    justify-content: space-between;

                    li {
                        list-style-type: none;
                        

                        a {
                            font-size: 13px;
                            font-family: @Montserrat_Regular;
                            color: #727272;
                            text-transform: uppercase;
                            text-decoration: none;
                            text-align: left;      
                        }

                        a:hover {
                            color:  rgb(0, 200, 200);
                        }
                    }
                }
            }
        }

        .items_wrapper {
            display: flex;
            justify-content: space-between;

            .item_left {

                .item_left_top {
                    margin-bottom: 30px;

                    .img {
                        display: inline-block;
                        position: relative;

                        .price {
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            font-size: 21px;
                            font-family: @Montserrat_Light;
                            color: rgb(154, 154, 154);
                            text-transform: uppercase;                            
                        }
                        .btn_info {
                            position: absolute;
                            top: 60%;
                            left: 50%;
                            transform: translate(-50%, 0);
                            width: 50px;
                            height: 50px;
                            background-color: #fff;
                            font-size: 48px;
                            color: #b14c35;
                            text-shadow: 0px 2px 12.32px rgba(0, 0, 0, 0.13);  
                            text-align: center;
                            border-radius: 50%; 
                            display: none; 
                        }

                        .btn_info:hover {
                            cursor: pointer;
                        }

                        .info_hover {
                            display: none;
                            position: absolute;
                            top: 100%;
                            width: 100%;
                            text-align: center;
                            background-color: #fff;
                            z-index: 1;
                            padding-top: 22px;
                            padding-bottom: 17px;

                            h3 {
                                font-size: 13px;
                                font-family: @Montserrat_Regular;
                                color: rgb(114, 114, 114);
                                text-transform: uppercase;  
                                padding-bottom: 12px;
                            }

                            p {
                                font-size: 15px;
                                font-family: @Roboto_Regular;
                                color: rgb(142, 140, 140); 
                                margin-bottom: 15px;    
                            }

                            .icons {
                                margin: 0 auto;
                                display: flex;
                                justify-content: space-between;
                                width: 115px;

                                .icon {
                                    background-color: #727272;
                                    border-radius: 50%;
                                    padding: 8px;


                                    i {
                                        font-size: 17px;
                                        color: rgb(255, 255, 255);
                                        text-transform: uppercase;   
                                    }
                                }

                                .icon:hover {
                                    cursor: pointer;
                                    background-color: #00c8c8;
                                }
                            }
                        }
                    }

                    .img:first-child {
                        margin-right: 30px;
                    }

                    .img:hover {
                        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);

                        .btn_info, .info_hover {
                            display: block;
                        }
                    }
                }

                .item_left_bottom {
                    background-color: #f8f8f8; 
                    position: relative; 

                    .img {
                        display: inline-block;
                        position: relative;

                        .price {
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            font-size: 21px;
                            font-family: @Montserrat_Light;
                            color: rgb(154, 154, 154);
                            text-transform: uppercase;                            
                        }
                        .btn_info {
                            position: absolute;
                            top: 60%;
                            left: 50%;
                            transform: translate(-50%, 0);
                            width: 50px;
                            height: 50px;
                            background-color: #fff;
                            font-size: 48px;
                            color: #b14c35;
                            text-shadow: 0px 2px 12.32px rgba(0, 0, 0, 0.13);  
                            text-align: center;
                            border-radius: 50%; 
                            display: none; 
                        }

                        .btn_info:hover {
                            cursor: pointer;
                        }

                        
                    }

                    .info_hover {
                        display: none;
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        text-align: center;
                        background-color: #fff;
                        z-index: 1;
                        padding-top: 22px;
                        padding-bottom: 17px;

                        h3 {
                            font-size: 13px;
                            font-family: @Montserrat_Regular;
                            color: rgb(114, 114, 114);
                            text-transform: uppercase;  
                            padding-bottom: 12px;
                        }

                        p {
                            font-size: 15px;
                            font-family: @Roboto_Regular;
                            color: rgb(142, 140, 140); 
                            margin-bottom: 15px;    
                        }

                        .icons {
                            margin: 0 auto;
                            display: flex;
                            justify-content: space-between;
                            width: 115px;

                            .icon {
                                background-color: #727272;
                                border-radius: 50%;
                                padding: 8px;


                                i {
                                    font-size: 17px;
                                    color: rgb(255, 255, 255);
                                    text-transform: uppercase;   
                                }
                            }

                            .icon:hover {
                                cursor: pointer;
                                background-color: #00c8c8;
                            }
                        }
                    }

                    

                }

                .item_left_bottom:hover {
                    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);

                    .info_hover {
                        display: block;
                    }

                        .img .btn_info {
                            display: block;
                        }
                }
            }

            .item_right {

                .item_right_top {
                    margin-bottom: 30px; 
                    background-color: #f8f8f8; 
                    position: relative; 

                    .img {
                        display: inline-block;
                        position: relative;

                        .price {
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            font-size: 21px;
                            font-family: @Montserrat_Light;
                            color: rgb(154, 154, 154);
                            text-transform: uppercase;                            
                        }
                        .btn_info {
                            position: absolute;
                            top: 60%;
                            left: 50%;
                            transform: translate(-50%, 0);
                            width: 50px;
                            height: 50px;
                            background-color: #fff;
                            font-size: 48px;
                            color: #b14c35;
                            text-shadow: 0px 2px 12.32px rgba(0, 0, 0, 0.13);  
                            text-align: center;
                            border-radius: 50%; 
                            display: none; 
                        }

                        .btn_info:hover {
                            cursor: pointer;
                        }

                        
                        
                        
                    }

                    .info_hover {
                        display: none;
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        text-align: center;
                        background-color: #fff;
                        z-index: 1;
                        padding-top: 22px;
                        padding-bottom: 17px;

                        h3 {
                            font-size: 13px;
                            font-family: @Montserrat_Regular;
                            color: rgb(114, 114, 114);
                            text-transform: uppercase;  
                            padding-bottom: 12px;
                        }

                        p {
                            font-size: 15px;
                            font-family: @Roboto_Regular;
                            color: rgb(142, 140, 140); 
                            margin-bottom: 15px;    
                        }

                        .icons {
                            margin: 0 auto;
                            display: flex;
                            justify-content: space-between;
                            width: 115px;

                            .icon {
                                background-color: #727272;
                                border-radius: 50%;
                                padding: 8px;


                                i {
                                    font-size: 17px;
                                    color: rgb(255, 255, 255);
                                    text-transform: uppercase;   
                                }
                            }

                            .icon:hover {
                                cursor: pointer;
                                background-color: #00c8c8;
                            }
                        }
                    }

                    
                }

                .item_right_top:hover {
                    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);

                    .info_hover {
                        display: block;
                    }

                        .img .btn_info {
                            display: block;
                        }


                }

                .item_right_bottom {

                    .img {
                        display: inline-block;
                        position: relative;

                        .price {
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            font-size: 21px;
                            font-family: @Montserrat_Light;
                            color: rgb(154, 154, 154);
                            text-transform: uppercase;                            
                        }
                        .btn_info {
                            position: absolute;
                            top: 60%;
                            left: 50%;
                            transform: translate(-50%, 0);
                            width: 50px;
                            height: 50px;
                            background-color: #fff;
                            font-size: 48px;
                            color: #b14c35;
                            text-shadow: 0px 2px 12.32px rgba(0, 0, 0, 0.13);  
                            text-align: center;
                            border-radius: 50%; 
                            display: none; 
                        }

                        .btn_info {
                            cursor: pointer;
                        }

                        .info_hover {
                            display: none;
                            position: absolute;
                            top: 100%;
                            width: 100%;
                            text-align: center;
                            background-color: #fff;
                            z-index: 1;
                            padding-top: 22px;
                            padding-bottom: 17px;

                            h3 {
                                font-size: 13px;
                                font-family: @Montserrat_Regular;
                                color: rgb(114, 114, 114);
                                text-transform: uppercase;  
                                padding-bottom: 12px;
                            }

                            p {
                                font-size: 15px;
                                font-family: @Roboto_Regular;
                                color: rgb(142, 140, 140); 
                                margin-bottom: 15px;    
                            }

                            .icons {
                                margin: 0 auto;
                                display: flex;
                                justify-content: space-between;
                                width: 115px;

                                .icon {
                                    background-color: #727272;
                                    border-radius: 50%;
                                    padding: 8px;


                                    i {
                                        font-size: 17px;
                                        color: rgb(255, 255, 255);
                                        text-transform: uppercase;   
                                    }
                                }

                                .icon:hover {
                                    cursor: pointer;
                                    background-color: #00c8c8;
                                }
                            }
                        }
                    }

                    .img:first-child {
                        margin-right: 30px;
                    }

                    .img:hover {
                        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);

                        .btn_info, .info_hover {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// ==== Styles for section "lookbook" ====

section.lookbook {
    display: flex;
    justify-content: space-between;
    margin-bottom: 123px;

    .men {
        width: 663px;
        background: url('../img/bg/lookbook_man.jpg') center center/cover no-repeat;
        padding-top: 98px;
        padding-bottom: 142px;

    }
    .women {
        width: 663px;
        background: url('../img/bg/lookbook_women.jpg') center center/cover no-repeat;
        padding-top: 98px;
        padding-bottom: 142px;



    }

    .your {
        width: 663px;
        background: url('../img/bg/lookbook_you.jpg') center center/cover no-repeat;
        padding-top: 98px;
        padding-bottom: 142px;



    }

    .wrapper {
        margin-left: 298px;
        margin-right: 54px;
        text-align: right;

        h2.title {
            font-family: @Montserrat_Bold;
            font-size: 48px;
            color: #575153; 
            text-transform: uppercase;
            margin-bottom: 30px;
    
            span {
                font-family: @Montserrat_Light;
            }
        }

        p.descr {
            margin-bottom: 30px;
            font-size: 15px;
            font-family: @Roboto_Regular;
            color: rgb(114, 114, 114);
            line-height: 1.467;
            text-align: right;    
        }

        button {
            border-style: solid;
            border-width: 2px;
            border-color: rgb(115, 115, 115);
            background-color: rgba(115, 115, 115, 0);
            width: 180px;
            height: 59px;
            line-height: 1rem;
            font-size: 16px;
            font-family: @Montserrat_Regular;
            color: rgb(69, 70, 71);
            text-transform: uppercase;
            text-align: center;   
        }

        button:hover {
            background-color: #00c8c8;
            color: rgb(248, 248, 248);  
            border: none;    
        }
    }  
}

// ==== Styles for footer ====

footer {
    background-color: #f8f8f8;
    padding-top: 64px;

    .container {

        .info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 62px;

            h3 {
                font-size: 13px;
                font-family: @Montserrat_Regular;
                color: rgb(87, 81, 83);
                text-transform: uppercase;
                text-align: left;  
                margin-bottom: 34px;  
            }

            li {
                list-style-type: none;
                margin-bottom: 12px;   
            }

            a, .office, .phone, .mail {
                font-size: 14px;
                font-family: @Montserrat_Light;
                color: rgb(114, 114, 114);
                text-align: left;  
                text-decoration: none;   
            }

            a:hover {
                color: #00c8c8;
                font-weight: 500;
            }

            .office {
                margin-bottom: 26px;
                line-height: 1.429;  
            }

            .phone {
                margin-bottom: 12px;
            }
        }
    }

    .banners {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;
        
        .banner {
            width: 570px;
            padding: 62px 0 64px 0;

            .title {
                font-size: 36px;
                font-family: @Montserrat_Bold;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                text-align: center; 
            }

            .text {
              font-family: @Montserrat_Light;  
            }
        }

        .award {
            background-color: #333333;
        }

        .banner.icons {
            background-color: #00c8c8;
            position: relative;
            

            .social.wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: space-between;
                align-items: center;



                .social {

                    i.fa {
                        font-size: 36px;
                        color: rgb(255, 255, 255);
                        text-transform: uppercase; 
                        margin-left: 50px;
                        cursor: pointer;    
                    }

                    i.fa-facebook {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

// ==== Styles for section "copyright" ====

.copyright {
    background-color: #333333;
    font-size: 13px;
    font-family: @Montserrat_Regular;
    color: rgb(153, 153, 153);
    padding: 17px 0;

    .container {
        display: flex;
        justify-content: space-between;

        .design_dev {

            a {
                text-decoration: none;
                color:  rgb(153, 153, 153);
            }

            .design {
                display: inline-block;
            }

            .dev {
                display: inline-block;
                margin-left: 35px;
            }
        }
    }
}







.glb, .glg, .glr, .gly {
  position: relative;
}

.glb {
  box-shadow: inset 0 0 0 2px blue;
  background: rgba(0, 0, 255, .1);
}

.glg {
  box-shadow: 0 0 0 2px green;
  background: rgba(0, 128, 0, .1);
}

.glr {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
  background: rgba(255, 45, 82, .1);
}

.gly {
  box-shadow: 0 0 0 2px rgb(234, 255, 45);
  background: rgba(234, 255, 45, .1);
}






