.header_top
    .topbar
        .container
            .currency 
                .currency_title Currency:&nbsp;
                form
                    .__select(data-state="")
                        .__select__title(data-default="Option 0") GBP
                        .__select__content
                            input#currency_0.__select__input(type="radio" name="currency")
                            label.__select__label(for="currency_0") GBP
                            input#currency_1.__select__input(type="radio" name="currency")
                            label.__select__label(for="currency_1") GBP
                            input#currency_2.__select__input(type="radio" name="currency")
                            label.__select__label(for="currency_2") EUR
                            input#currency_3.__select__input(type="radio" name="currency")
                            label.__select__label(for="currency_3") RUR
            .autorization
                    a.autorization_register(href="#") Register
                    a.autorization_sign(href="#") Sign In
            .cart
                .icon
                    <i class="fa fa-shopping-cart"></i>
                form
                    ._select(data-state="")
                        ._select_title(data-default="Option 0") empty
                        ._select_content
                            input#singleSelect0._select_input(type="radio" name="cart")
                            label._select_label(for="singleSelect0") empty
                            input#singleSelect1._select_input(type="radio" name="cart")
                            label._select_label(for="singleSelect1") empty
                            input#singleSelect2._select_input(type="radio" name="cart")
                            label._select_label(for="singleSelect2") add
                            input#singleSelect3._select_input(type="radio" name="cart")
                            label._select_label(for="singleSelect3") change   
    .menu
        .wrapper
            .header_logo 
                a(href="#") avenue <span>fashion</span>
            nav
                ul.header_menu
                    li.item
                        a.link(href="#") mens
                        <i class="fa fa-angle-down"></i>
                        .subnav
                            .subnav_wrapper
                                .subnav_text
                                    .subnav_casuals
                                        .subnav_title
                                            h3 casuals
                                        .subnav_links
                                            ul.subnav_items
                                                li
                                                    a(href="#") Jackets
                                                li
                                                    a(href="#") Hoodies &amp; Sweatshirts
                                                li
                                                    a(href="#") Polo Shirts
                                                li
                                                    a(href="#") Sportswear
                                                li
                                                    a(href="#") Trousers &amp; Chinos
                                                li
                                                    a(href="#") T-Shirts
                                    .subnav_formal
                                        .subnav_title
                                            h3 Formal
                                        .subnav_links
                                            ul.subnav_items
                                                li
                                                    a(href="#") Jackets
                                                li
                                                    a(href="#") Shirts
                                                li
                                                    a(href="#") Suits
                                                li
                                                    a(href="#") Trousers
                                .subnav_banner
                                    h2 Autumn sale!
                                    span up to 50% off
                    li.item
                        a.link(href="#") womens
                        <i class="fa fa-angle-down"></i>
                        .subnav
                            .subnav_wrapper
                                .subnav_text
                                    .subnav_casuals
                                        .subnav_title
                                            h3 casuals
                                        .subnav_links
                                            ul.subnav_items
                                                li
                                                    a(href="#") Jackets
                                                li
                                                    a(href="#") Hoodies &amp; Sweatshirts
                                                li
                                                    a(href="#") Polo Shirts
                                                li
                                                    a(href="#") Sportswear
                                                li
                                                    a(href="#") Trousers &amp; Chinos
                                                li
                                                    a(href="#") T-Shirts
                                    .subnav_formal
                                        .subnav_title
                                            h3 Formal
                                        .subnav_links
                                            ul.subnav_items
                                                li
                                                    a(href="#") Jackets
                                                li
                                                    a(href="#") Shirts
                                                li
                                                    a(href="#") Suits
                                                li
                                                    a(href="#") Trousers
                                .subnav_banner
                                    h2 Autumn sale!
                                    span up to 50% off
                    li.item
                        a.link(href="#") thr brand
                        <i class="fa fa-angle-down"></i>
                        .subnav
                            .subnav_wrapper
                                .subnav_text
                                    .subnav_casuals
                                        .subnav_title
                                            h3 casuals
                                        .subnav_links
                                            ul.subnav_items
                                                li
                                                    a(href="#") Jackets
                                                li
                                                    a(href="#") Hoodies &amp; Sweatshirts
                                                li
                                                    a(href="#") Polo Shirts
                                                li
                                                    a(href="#") Sportswear
                                                li
                                                    a(href="#") Trousers &amp; Chinos
                                                li
                                                    a(href="#") T-Shirts
                                    .subnav_formal
                                        .subnav_title
                                            h3 Formal
                                        .subnav_links
                                            ul.subnav_items
                                                li
                                                    a(href="#") Jackets
                                                li
                                                    a(href="#") Shirts
                                                li
                                                    a(href="#") Suits
                                                li
                                                    a(href="#") Trousers
                                .subnav_banner
                                    h2 Autumn sale!
                                    span up to 50% off
                    li.item
                        a.link(href="#") local stories
                        <i class="fa fa-angle-down"></i>
                        .subnav
                            .subnav_wrapper
                                .subnav_text
                                    .subnav_casuals
                                        .subnav_title
                                            h3 casuals
                                        .subnav_links
                                            ul.subnav_items
                                                li
                                                    a(href="#") Jackets
                                                li
                                                    a(href="#") Hoodies &amp; Sweatshirts
                                                li
                                                    a(href="#") Polo Shirts
                                                li
                                                    a(href="#") Sportswear
                                                li
                                                    a(href="#") Trousers &amp; Chinos
                                                li
                                                    a(href="#") T-Shirts
                                    .subnav_formal
                                        .subnav_title
                                            h3 Formal
                                        .subnav_links
                                            ul.subnav_items
                                                li
                                                    a(href="#") Jackets
                                                li
                                                    a(href="#") Shirts
                                                li
                                                    a(href="#") Suits
                                                li
                                                    a(href="#") Trousers
                                .subnav_banner
                                    h2 Autumn sale!
                                    span up to 50% off
                    li.item
                        a.link(href="#") look book
                        <i class="fa fa-angle-down"></i>
                        .subnav
                            .subnav_wrapper
                                .subnav_text
                                    .subnav_casuals
                                        .subnav_title
                                            h3 casuals
                                        .subnav_links
                                            ul.subnav_items
                                                li
                                                    a(href="#") Jackets
                                                li
                                                    a(href="#") Hoodies &amp; Sweatshirts
                                                li
                                                    a(href="#") Polo Shirts
                                                li
                                                    a(href="#") Sportswear
                                                li
                                                    a(href="#") Trousers &amp; Chinos
                                                li
                                                    a(href="#") T-Shirts
                                    .subnav_formal
                                        .subnav_title
                                            h3 Formal
                                        .subnav_links
                                            ul.subnav_items
                                                li
                                                    a(href="#") Jackets
                                                li
                                                    a(href="#") Shirts
                                                li
                                                    a(href="#") Suits
                                                li
                                                    a(href="#") Trousers
                                .subnav_banner
                                    h2 Autumn sale!
                                    span up to 50% off
            .search
                input.search(type="text" placeholder="Search")
                .lupa    
                    <i class="fa fa-search" aria-hidden="true"></i>