doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Clothing store")
    meta(name="author" content="Melnikov Sergey")
    title Ave
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto&display=swap" rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="fonts/font-awesome.min.css")
    link(rel="stylesheet" href="css/main.css")
body
    header
        .top-bar
            .container
                .currency
                    .text Currency :
                    select(name="#" id="Currency")
                        option(value="GBP" selected) GBP
                        option(value="USD") USD
                        option(value="EUR") EUR
                        option(value="RUR") RUR
                .register
                    a(href="register.html") Register
                    a(href="SignIn.html") Sign In
                .basket
                    i(class="fas fa-shopping-cart")
                    select(name="#") 
                        option(value="empty" selected) empty
                        option(value="USD") ....
                        option(value="EUR") abcd
                        option(value="RUR") efgh
        .slider          
            .header_top
                .logo
                    a.logo 
                        strong avenue &nbsp;
                        span fashion
                .nav
                    ul
                        li
                            a.menu(href="") mens                     
                        li
                            a.menu(href="") womens
                        li
                            a.menu(href="") the brand
                        li
                            a.menu(href="") local stores
                        li
                            a.menu(href="") look book
                .search
                    form(action="get")
                        input(type="search", placeholder="Search..")
                        button(type="submit", value="")
                            i(class="fas fa-search" )
            .ave A  V  E
            .button
                button shop men’s collection
    form(name="person")
        input.text#surname(type="text" name="surname" placeholder="Введите фамилию")
        input.text#name(type="text" placeholder="Введите имя")
        input.text#middle_name(type="text" placeholder="Введите отчество")
        input.text#position(type="text" placeholder="Введите должность")
        input.submit#submit(type="submit" value="Запомнить" onclick="get_elements_form()")
    script(src="js/main.js")

                                   


            
    