doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description" content="Clothing store")
    meta(name="author" content="Melnikov Sergey")
    title Ave
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto&display=swap" rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="fonts/font-awesome.min.css")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
body
    header.header
        .topbar
            .container
                .currency Currency
                    select(name="currency")
                        option(value="GBP" selected) GBP
                        option(value="USD") USD
                        option(value="RUR") RUR
                .register
                    a(href="#") Register
                .sign_in 
                    a(href="#") Sign In
                .cart
                    .icon
                    .empty
                        select(name="empty")
                            option(value="empty" selected) empty
                            option(value="none") none
                            option(value="no_empty") sdfv
        .header_main
            .header_top
                .logo 
                    a(href="#") avenue <span>fashion</span>
                nav.header
                    ul.header_menu
                        li
                            a(href="#") mens
                        li
                            a(href="#") womens
                        li
                            a(href="#") thr brand
                        li
                            a(href="#") local stories
                        li
                            a(href="#") look book
                .search
                    input.search(type="text" placeholder="Search")
                    img.search(src="", alt="")
            .slider
                .slider_text A  V  E 
                //-.slider_img
                    img.slider-one(src="img/bg/slider_img_one.jpg", alt="img_slider")
                button.header shop men’s collection 
    .items
        .container
            .items_menu
                nav.items
                    ul.items
                        li
                            a(href="" sctive) popular
                        li
                            a(href="") new arrivals 
                        li
                            a(href="") best sellers 
                        li
                            a(href="") special offers
                        li
                            a(href="") coming soon
            .items_wrapper 
                .item_left
                    .item_left_top
                        img(src="img/jpg/items/item_1/item_img_1.jpg", alt="item_1")
                        img(src="img/jpg/items/item_2/item_img_2.jpg", alt="item_2")
                    .item_left_bottom
                        img(src="img/jpg/items//item_4/item_img_4.jpg", alt="item_4")
                .item_right
                    .item_right_top
                        img(src="img/jpg/items//item_3/item_img_3.jpg", alt="item_3")
                    .item_right_bottom
                        img(src="img/jpg/items/item_5/item_img_5.jpg", alt="item_5")
                        img(src="img/jpg/items/item_6/item_img_6.jpg", alt="item_6")



            
    