doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description" content="Clothing store")
    meta(name="author" content="Melnikov Sergey")
    title Ave
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto&display=swap" rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="fonts/font-awesome.min.css")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
body
    header.header
        .topbar
            .container
                .currency Currency
                    select(name="currency")
                        option(value="GBP" selected) GBP
                        option(value="USD") USD
                        option(value="RUR") RUR
                .register
                    a(href="#") Register
                .sign_in 
                    a(href="#") Sign In
                .cart
                    .icon
                        <i class="fa fa-shopping-cart"></i>
                    .empty
                        select(name="empty")
                            option(value="empty" selected) empty
                            option(value="none") none
                            option(value="no_empty") sdfv
                        <i class="fa fa-angle-down"></i>
        .header_main
            .header_top
                .logo 
                    a(href="#") avenue <span>fashion</span>
                nav.header
                    ul.header_menu
                        li
                            .wrap
                                a(href="#") mens
                                <i class="fa fa-angle-down"></i>
                                .sub_nav
                        li
                            .wrap
                                a(href="#") womens
                                <i class="fa fa-angle-down"></i>
                                .sub_nav
                        li
                            .wrap
                                a(href="#") thr brand
                                <i class="fa fa-angle-down"></i>
                                .sub_nav
                        li
                            .wrap
                                a(href="#") local stories
                                <i class="fa fa-angle-down"></i>
                                .sub_nav
                        li
                            .wrap
                                a(href="#") look book
                                <i class="fa fa-angle-down"></i>
                                .sub_nav
                .search
                    input.search(type="text" placeholder="Search")
                    <i class="fa fa-search" aria-hidden="true"></i>
            .slider
                h1.slider_text A  V  E 
                button.header shop men’s collection 
    section.items
        .container
            .items_menu
                nav.items
                    ul.items
                        li
                            a(href="" sctive) popular
                        li
                            a(href="") new arrivals 
                        li
                            a(href="") best sellers 
                        li
                            a(href="") special offers
                        li
                            a(href="") coming soon
            .items_wrapper 
                .item_left
                    .item_left_top
                        img(src="img/jpg/items/item_1/item_img_1.jpg", alt="item_1")
                        img(src="img/jpg/items/item_2/item_img_2.jpg", alt="item_2")
                    .item_left_bottom
                        img(src="img/jpg/items//item_4/item_img_4.jpg", alt="item_4")
                .item_right
                    .item_right_top
                        img(src="img/jpg/items//item_3/item_img_3.jpg", alt="item_3")
                    .item_right_bottom
                        img(src="img/jpg/items/item_5/item_img_5.jpg", alt="item_5")
                        img(src="img/jpg/items/item_6/item_img_6.jpg", alt="item_6")
    section.lookbook
        .men
            .wrapper
                .title
                    h2.title men’s<br><span>lookbook</span>
                p.descr Lorem ipsum dolor sit amet eras facilisis consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.<br> Elementum metus facilisis ut phasellu.
                button view now
        .women
            .wrapper
                .title
                    h2.title women’s<br><span>lookbook</span>
                p.descr Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Pellentesque laoreet quis enim et mattis. Quisque interdum felis tellus.
                button view now
        .your
            .wrapper
                .title
                    h2.title your<br><span>lookbook</span>
                p.descr See an item you like and click the  button to add it to your lookbook where you can create your own perfect look. <br>It’s like your own boutique!
                button view now
    footer
        .container
            .info
                .information
                    h3.information Information
                    ul.information
                        li
                            a(href="#") The brand
                        li
                            a(href="#") Local stores
                        li
                            a(href="#") Customer service
                        li
                            a(href="#") Privacy &amp; cookies
                        li
                            a(href="#") Site map
                .buy
                    h3.buy Why buy from us
                    ul.buy
                        li
                            a(href="#") Shipping &amp; returns
                        li
                            a(href="#") Secure shopping
                        li
                            a(href="#") Testimonials
                        li
                            a(href="#") Award winning
                        li
                            a(href="#") Ethical trading
                .account
                    h3.account Your account
                    ul.account
                        li
                            a(href="#") Sign in
                        li
                            a(href="#") Register
                        li
                            a(href="#") View cart
                        li
                            a(href="#") View your lookbook
                        li
                            a(href="#") Track an order
                        li
                            a(href="#") Update information
                .lookbook
                    h3.lookbook Lookbook
                    ul.lookbook
                        li
                            a(href="#") Latest posts
                        li
                            a(href="#") Men’s lookbook
                        li
                            a(href="#") Women’s lookbook
                        li
                            a(href="#") Lookbooks RSS feed
                        li
                            a(href="#") View your lookbook
                        li
                            a(href="#") Delete your lookbook
                .contact
                    h3.contact contact details
                    .contact_details
                        .office Head Office: Avenue Fashion,<br>180-182 Regent Street, London.
                        .phone Telephone:&nbsp;
                            a(href="tel:0123-456-789") 0123-456-789 
                        .mail Email:&nbsp;
                            a(href="mailto:support@yourwebsite.com") support@yourwebsite.com
            .banners
                .banner.award
                    .title
                        h2.title award winner
                        .text fashion awards 2016
                .banner.icons
                    .social.wrapper
                        .social.fb
                            <i class="fa fa-facebook"></i>
                        .social.tw
                            <i class="fa fa-twitter"></i>
                        .social.insta
                            <i class="fa fa-instagram"></i>
                        .social.pinterest
                            <i class="fa fa-pinterest-p"></i>
        .copyright
            .container
                .name © 2016 Avenue Fashion™
                .design_dev 
                    .design Design by 
                        a(href="#") RobbyDesigns.com 
                    .dev  Dev by        
                        a(href="#") Loremipsum.com
                    
                    


            
    