doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Clothing store")
    meta(name="author" content="Melnikov Sergey")
    title Ave
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto&display=swap" rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="fonts/font-awesome.min.css")
    link(rel="stylesheet" href="css/main.css")
body
    header
        h2 money
            span keeper
    section
        h2 Расчет дневного бюджета
        h3 Введите обязательные расходы
        .keeper
            
            .input

            button#start Начать расчет
                

            .output
                .budget
                    .budget_descr Доход:
                    .budget_Month#budget_Month
       
    
    script(src="js/main.js")

                                   


            
    